body {
	background-color: rgba(45, 114, 225,0.8);
	font-family: verdana, sans-serif;
	font-size: 10px;
	font-weight: normal;
	margin:0;
}

#topBar{
	position: fixed;
	top: 0px;
	right: 0px;
	left:0px;
	background-color: rgba(88, 89, 91, 0.9);
	width:100%;
	padding: 10px 20px;
	letter-spacing: 5px;
	vertical-align: middle;
	line-height: 40px;
	z-index: 1;
}

#nameHeading {
	display: inline-block;
	color:black;
}

#topIcons {
	position:fixed;
	display: inline-block;
	padding:0;
	width:220px;
	height:50px;
	text-align: right;
	transform:translateY(38%);
	right: 20px;

}

#linkedin {
	display: inline-block;
	transform: translateY(0);
	padding-left: 10px;
	padding-right: 10px;
}

#github {
	display: inline-block;
}

#inputForm {
	transform: translateY(40px);
}

#weatherCont {
	display: block;
	margin: 0 auto;
	width: 500px;
	height: 230px;
	background-color: rgba(224, 226, 70, 1);
	text-align: center;
	border-radius: 25px;
	transform: translateY(200px);
	box-shadow: 5px 5px 2px rgba(0,0,0,1);
}

#cityPrompt {
	transform: translateY(30px);
}

#tempResponse {
	transform: translateY(50px);
}

#temp {
	transform: translateY(60px);
}
